<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">Record events.</p>
    <%= link_to 'Write a New Blog', new_magic_path if logged_in?(:site_admin) %>
  </div>
</div>