<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to magic.title.upcase, magic %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(magic.created_at, Time.now) %> ago</p>
  
  <%= render partial: 'magics/admin_actions', locals: { magic: magic} %>

  <p>
    <%= magic.body %>
  </p>
</div>