<p id="notice"><%= notice %></p>

<h1>Magics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @magics.each do |magic| %>
      <%= render @magics %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magic', new_magic_path if logged_in?(:site_admin) %>
