<h1><% if current_user %>
    Hi, <%= current_user.first_name %> 
  <% else %>
    Welcome to Home page!
  <% end %>
</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>Blogs</h1>
<%= @magics.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
