<div class="inner cover">
    <h1 class="cover-heading">Welcome!</h1>
    <p class="lead">Here you are able to see what I've accomplished in this boring class.</p>
    <p class="lead">
        <%= link_to "About Me", about_path, class: 'btn btn-lg btn-secondary' %>
    </p>
</div>


